@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --link-color: #3F45D8;
  --primary-color: #3D9B26;
  --hover-primary-color: #4EC930;
  --active-primary-color: #287116;
  --link-color: #3F45D8;
  --exclusion-color: #DD5050;
  --hover-exclusion-color: #FE2121;
  --active-exclusion-color: #CB0909;
  --background-footer: #282828;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}

a {
  text-decoration: none;
}

/* container principal*/

div.container {
  margin: 0 100px;
}

/* header principal */

.header-principal {
  height: 70px;
  padding: 0 80px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-family: Montserrat;
  color: var(--white-color);
}

/* Contatos */

.container-contatos {
  display: flex;
  width: 100%;
  justify-content: right;
  margin: 24px 0;
}

div.contatos {
  display: flex;
  gap: 10px;
}

/* container das sections bem vindos e aviso */

div.container-benvidos-aviso {
  width: 690px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.container-contedo-principal-aside {
  display: flex;
  justify-content: space-between;
}

/* Bem-vindos */
section.bem-vindos > h2 {
  font-size: 40px;
}

section.bem-vindos > p{
  font-size: 24px;
}

/* Aviso */

section.aviso {
  font-size: 24px;
  font-weight: 800;
}

/* inscrever*/

aside.inscrever {
  width: 350px;
  border: 2px solid var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
  border-radius: 10px;
}

aside.inscrever form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside.inscrever div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

aside.inscrever label {
  font-weight: 600;
}

aside.inscrever input {
  padding: 5px 0;
  border: 2px solid var(--black-color);
  border-radius: 5px;
}

aside.inscrever button {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  background-color: var(--primary-color);
  width: 80%;
  padding: 10px 0;
  margin: auto;
}
/* colocando o footer em baixo */

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

/* rodapé */ 
footer {
  padding: 20px;
  color: var(--white-color);
  background-color: var(--background-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* main page */

/* botões criar e excluir*/

.container-section-botoes {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.botoes-criar-excluir {
  display: flex;
  gap: 20px;
}

.btn-criar {
  padding: 10px 40px;
  background-color: var(--primary-color);
  transition: background-color .2s;
  color: white;
  font-weight: 700;
  border-radius: 100px;
  border:none
}

.btn-criar:hover {
  background-color: var(--hover-primary-color);
}
.btn-criar:active {
  background-color: var(--active-primary-color);
}

.btn-excluir {
  padding: 10px 40px;
  background-color: var(--exclusion-color);
  color: white;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  transition: background-color .2s;
}

.btn-excluir:hover {
  background-color: var(--hover-exclusion-color);
}
.btn-excluir:active {
  background-color: var(--active-exclusion-color);
}

/* Area de comentários */
.container-comentarios {
  margin-top: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.container-comentarios h2 {
  font-size: 36px;
  font-weight: 700;
}

.container-comentarios a {
  color: var(--link-color);
  font-weight: 700;
}

.nao-possui-comentarios {
  text-align: center;
}


